<html>
    <head>
        <title>CUISINE.HTML.TWIG</title>
    </head>
    <body>
            <p>CUISINE.HTML.TWIG</p>
            <p> {{ cuisine.getType() }} </p>
            <p><a href="/cuisines/{{ cuisine.getId }}/edit">Edit this category</a><p>


            <a href="/">Go home!</a>

            </form>
    </body>
</html>
