<html>
    <head>
        <title>RESTAURANT.HTML.TWIG</title>
    </head>
    <body>
            RESTAURANT.HTML.TWIG

            {% for restaurant in restaurants %}
            <p>
                {{ restaurant.getName() }}
            </p>
            {% endfor %}

            <a href="/">Home Page</a>

            <form action = '/delete_restaurant' method='post'>
                <button type="submit">Delete!</button>
            </form>
    </body>
</html>
