<html>
    <head>
        <title>RESTAURANT.HTML.TWIG</title>
    </head>
    <body>
            RESTAURANT.HTML.TWIG

            <p>{{ restaurant.getName() }}</p>
            <p><a href="/restaurants/{{ restaurant.getId }}/edit">Edit this category</a><p>
                <form action='/tasks' method='post'>
                              <input id="category_id" name="category_id" type="hidden" value="{{ category.getId() }}">

                              <input id='description' name='description' type='text' placeholder="task description">

                              <button type='submit'>Add task</button>
                          </form>
    </body>
</html>
