<html>
    <head>
        <title>RESTAURANT.HTML.TWIG</title>
    </head>
    <body>
            RESTAURANT.HTML.TWIG

            <p>{{ restaurant.getName() }}</p>
            <p><a href="/restaurants/{{ restaurant.getId }}/edit">Edit this category</a><p>
            <a href="/">Go home!</a>
    </body>
</html>
